<h1>Answer some questions. <small>Read questionable answers.</small></h1>

<ul class="questions-list">
<% @questions.each do |question| %>
  <li>
    <%= link_to image_tag(current_user.picture_url, alt: User.find(question.author).first_name, class: 'user-nav-icon img-circle'), User.find(question.author) %>
    <%= link_to question_path(question) do %>
        <div class="question-content bubble">

          <div class="pointer" >
        </div>

          <span class="question-text">" <%= question.content %> "</span> <p>
          
        </div>
    <% end %>


  </li>
<% end %>
</ul>

<br>
