<h1 class="special-font xl">
	<%= link_to "Ask.", new_question_path %> 
<h1 class="special-font xl">
	<%= link_to "Answer.", questions_path %> 
</h1>
<h1 class="special-font xl">
	<%= link_to "You.", current_user %>
</h1>
<h1 class="special-font xl">
	<%= link_to "Us.", users_path %> 
</h1>

